Options +FollowSymLinks
IndexIgnore */*
RewriteEngine On

RewriteCond %{REQUEST_URI} !^/(web)
RewriteRule ^assets/(.*)$ /application/web/assets/$1 [L]
RewriteRule ^css/(.*)$ application/web/css/$1 [L]
RewriteRule ^js/(.*)$ application/web/js/$1 [L]
RewriteRule ^images/(.*)$ application/web/images/$1 [L]
RewriteRule (.*) /application/web/$1

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /application/web/index.php